/* Hero-Section Start */
.hero-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.16em;
  color: #d6111e;
  margin: auto;
}
.hero-title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  color: #171422;
  margin: auto;
}
.hero-content {
  margin-top: 40px;
}
.hero-image {
  overflow: hidden;
  border-radius: 16px;
}
.hero-image img {
  width: 100%;
  height: 300px;
}
.hero-details {
  margin-top: 40px;
}
.hero-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #9c9ba1;
}
/* Hero-section End */

/* Why Us Start */
.why-us-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us-title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  color: #171422;
}
.why-us-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 546px;
  width: 100%;
  text-align: center;
  color: #9c9ba1;
}
.matrix-info {
  margin-top: 40px;
}
.matrix-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 24px;
  border-radius: 8px;
  width: 261px;
}
.matrix-card p {
  margin-top: revert;
  color: #243757;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.matrix-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
/* Why Us End */

/*******************************************************  Media Queries Start  *******************************************************/
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .matrix-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
@media screen and (max-width: 991px) {
  .matrix-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .matrix-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    gap: 8px;
    border-radius: 8px;
    width: auto;
  }
  .matrix-card p {
    margin: auto;
    width: 100%t;
  }
  .col-xs-6 {
    width: 50%;
  }
}
@media screen and (max-width: 570px) {
  .matrix-info {
    margin-top: 40px;
  }
  .matrix-card p {
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .matrix-card p {
    font-size: 14px;
    text-align: center;
  }
  .tab-content > img {
    height: 220px;
  }
}
/*******************************************************  Media Queries End  *******************************************************/
