.form-area {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  gap: 25px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 498px;
  width: 100%;
}

.form-title h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #171422;
}

.form-title P {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #6f7a8b;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.input-field {
  height: 48px;
}

/******************************************************* Coverage Area Start *******************************************************/
.coverage-content {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 40px;
}

.coverage-title {
  margin-bottom: 16px;
}

.coverage-title>h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #171422;
}

.coverage-title>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.16em;
  color: #d6111e;
  margin: auto;
}

.coverage-content>p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #9c9ba1;
}

.tabs {
  max-width: 736px;
  width: 100%;
  overflow-x: auto;
  margin: auto;
  border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 12px 24px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}

#tabs-nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #d6111e !important;
  width: max-content;
}

ul#tabs-nav li.active {
  padding: 12px 24px;
  gap: 8px;
  height: 44px;
  color: #fff !important;
  background: #d6111e;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

ul#tabs-nav li.active a {
  color: #fff !important;
}

.tab-content {
  margin-top: 40px;
}

.tab-content {
  border-radius: 20px;
  overflow: hidden;
}

.tab-content>img {
  width: 100%;
}

/******************************************************* Coverage Area End *******************************************************/

.faq-container {
  margin-top: 64px;
  margin-bottom: 64px;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #23262f;
  margin-bottom: 64px;
}

.accordion-item {
  padding-bottom: 16px;
  border: none;
}

.accordion-button {
  background-color: transparent;
  font-weight: 600;
  color: #23262f;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  font-weight: 700;
  color: #171422;
}

.accordion-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(23, 20, 34, 0.48);
}