.hero-section-bg {
  background-image: url("/Assets/Images/Home/hero-section.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content {
  margin-top: 128px;
  max-width: 546px;
  width: 100%;
  text-align: center;
}
.hero-content h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: white;
}
.hero-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #cecece;
}
.button-group {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}
.matrix-info {
  margin-top: 96px;
}
.matrix-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 24px;
  border-radius: 8px;
  width: 100%;
}
.matrix-card p {
  margin-top: revert;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.matrix-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}
