.nav-item {
  margin-left: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #031430;
  transition: ease-out 0.3s;
}

.active {
  font-weight: 700;
}
.collapsed{
  font-size: 24px;
}

.navbar-toggler {
  border: none;
}
.dropdown-menu {
  transition: ease-out 0.3s;
}
.dropdown-menu>li {
  margin-top:8px;
  margin-bottom:8px;
}
.dropdown-menu a{
  text-decoration: none;
  color: #031430;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #23262f;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(91, 119, 147, 0.12);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
#demo {
  width: 100%;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offcanvas-body>ul>li{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box{
  border-radius: 16px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 080px;
}
.box p{
  margin: auto;
  font-size: 24px;
}
.ftp{
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 16px;
  align-items: center;
  border: 1px solid #d6d4d4;
}
.ftp p{
  font-size: 20px;
}
.box a{
  text-decoration: none;
  color: #031430 !important;
}
/*******************************************************  Media Queries Start  *******************************************************/
@media screen and (max-width: 991px) {
  .dropdown-box{
    display: none;
  }
  .nav-item {
    font-weight: 400;
    font-size: 24px;
    margin-left: 0px;
    display: flex;
    line-height: 140%;
    color: #031430;
  }
  .active{
    font-weight: 700;
  }
  .navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 64px;
  }
}
@media screen and (max-width: 400px) {
  
}
/*******************************************************  Media Queries End  *******************************************************/
