.nav-item {
  margin-left: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #031430;
}

.active {
  font-weight: 700;
}
.collapsed{
  font-size: 24px;
}
.accordion-body p{
  font-size: 20px;
}
.accordion-body p a{
  text-decoration: none;
  color: #42464d;
}
.navbar-toggler {
  border: none;
}
.dropdown-menu {
  transition: ease-out 0.3s;
}
.dropdown-menu>li {
  margin-top:8px;
  margin-bottom:8px;
}
.dropdown-menu a{
  text-decoration: none;
  color: #031430;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #23262f;
  transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

.navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(91, 119, 147, 0.12);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
#demo {
  width: 100%;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*******************************************************  Media Queries Start  *******************************************************/
@media screen and (max-width: 991px) {
  .nav-item {
    font-weight: 400;
    font-size: 24px;
    margin-left: 0px;
    display: flex;
    line-height: 140%;
    color: #031430;
  }
  .active{
    font-weight: 700;
  }
  .navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 64px;
  }
}
@media screen and (max-width: 400px) {
  
}
/*******************************************************  Media Queries End  *******************************************************/
